@page "/DailyTimeSheet"
@inherits DailyTimeSheetBase

<h3>DailyTimeSheet</h3>

<button type="button" class="btn btn-primary" @onclick="async (e)=> { var message = await AddDailyTimeSheet(); ShowAlert(message);}">Create DailySheet</button>
@if (dailyTimeSheetDtos.Any())
{
    <a href="/DailyTask" class="btn btn-success">Add Task</a>
}

<br />
<br />
@if (dailyTimeSheetDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>Date</th>
                <th>Employee Name</th>
                <th>Task Time</th>
                <th>Today Tasks</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var DailySheet in dailyTimeSheetDtos)
            {
                <tr>

                    <td>@DailySheet.CreatedDate.Value.ToShortDateString()</td>
                    <td>@DailySheet.EmployeeName</td>
                    <td>@DailySheet.TotalTime</td>
                    <td>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="@DailySheet.ID">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    DailyTasks
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="@DailySheet.ID" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <table class="table table-striped align-middle table-bordered">
                                        <thead class="table-success">
                                            <tr>
                                                <th>Employee Name</th>
                                                <th>Task Name</th>
                                                <th>Task Time</th>
                                                <th>Description</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var task in DailySheet.dailyTaskDtos)
                                            {
                                                <tr>

                                                    <td>@task.EmployeeName</td>
                                                    <td>@task.TaskName</td>
                                                    <td>@task.TaskTime</td>
                                                    <td>@task.Description</td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


   
}


       
  
