@page "/listofuser"
@using EmpLeave.Web.Pages.AuthPage.UserList;
@inherits ListofUserBase
<h3>Users List</h3>
<div class="row">
    
    <div class="input-group mb-3">
        <EditForm Model="SelectedUser" OnValidSubmit="()=>GetAll()">
        </EditForm>
    </div>
    <div class="col-md-6">
        <a href='/registeruser' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add User
        </a>
    </div>
</div>
<br />
@if (UserList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>Email</th>
                <th>Hash Password</th>
               
                <th class="colspan-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in UserList)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.PasswordHash</td>
                    <td>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEmpModal"
                        @onclick="(() => DeleteConfirm(user.ID))">
                            Delete
                        </button>
                        <a href='/edit/@user.ID' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="deleteEmpModal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete User</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Do you want to delete this User?</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>@SelectedUser.FirstName</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>@SelectedUser.LastName</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>@SelectedUser.Email</td>
                            </tr>
                            <tr>
                                <td>User Name</td>
                                <td>@SelectedUser.UserName</td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>@SelectedUser.PasswordHash</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" @onclick="(async () => await DeleteEmployee(SelectedUser.Id))" data-bs-dismiss="modal">YES</button>
                    <button class="btn btn-warning" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
}



