@page "/salariesList"
@using ELM.Web.Pages.SalaryPages;
@inherits ListOfSalariesBase

<h3>List OF Salaries</h3>

<div>
    <button type="button" class="btn btn-primary" @onclick="PayLoan">PayLoan</button>
</div>

@*<div class="row">
    <div class="input-group mb-3">
        <EditForm Model="Paging" OnValidSubmit="()=>GetAllSalaries()">
            <div class="mb-1">
                <div class="row">
                    <div class="col-md-6">
                        <label for="Name" class="form-label">Starting Date</label>
                    </div>
                    <div class="col-md-6">
                        <label for="Name" class="form-label">Current Date</label>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div class="row">
                    <div class="col-md-6">
                        <InputDate Type="InputDateType.Date" class="form-control autocomplete = off" @bind-Value="StartDate" />
                    </div>
                    <div class="col-md-6">
                        <InputDate Type="InputDateType.Date" class="form-control" @bind-Value="EndDate" />
                    </div>
                </div>
            </div>
            <br />
            <AuthorizeView Roles="Admin">
                <ChildContent Context="authContext">
                    <div class="mb-3">
                        <label class="mb-2">Employee Name</label>
                        <div class="col-md-10">
                            <InputSelect class="form-control" @bind-Value="Search">
                                <option selected disabled value="0">Employee Name List</option>
                                @foreach (var employee in employeeList)
                                {
                                    <option value="@employee.Id">@employee.FirstName @employee.LastName</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                </ChildContent>
            </AuthorizeView>
            <button>Search</button>
        </EditForm>
    </div>
    <div class="col-md-6">
        <a href='/Add_Salary' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Salary
        </a>
    </div>
</div>
<br />*@
@if (salaryDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>Employee Name</th>
                <th>Current Salary</th>
                <th>Leave Deduction</th>
                <th>Loan Deduction</th>
                <th>Total Dedection</th>
                <th>Perks</th>
                <th>Total Salary</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var salary in salaryDtos)
            {
                <tr>
                    <td>@salary.EmployeeName</td>
                    <td>@salary.CurrentSalary</td>
                    <td>@salary.LeaveDeduction</td>
                    <td>@salary.LoanDeduction</td>
                    <td>@salary.TotalDedection</td>
                    <td>@salary.Perks</td>
                    <td>@salary.TotalSalary</td>

                </tr>
            }
        </tbody>
    </table>
    }


