@page "/salariesList"
@using ELM.Web.Pages.SalaryPages;
@inherits ListOfSalariesBase

<h3>Salaries</h3>

@* <div>
    <select @bind="EmployeeId">
        <option value="">Select an option</option>
        @foreach (var option in employeeList)
        {
            <option value="@option.Id">@option.FirstName</option>
        }
    </select>
  
    <button type="button" class="btn btn-primary" @onclick="PayLoan">PayLoan</button>
</div> *@

@*<div class="row">
    <div class="input-group mb-3">
        <EditForm Model="Paging" OnValidSubmit="()=>GetAllSalaries()">
            <div class="mb-1">
                <div class="row">
                    <div class="col-md-6">
                        <label for="Name" class="form-label">Starting Date</label>
                    </div>
                    <div class="col-md-6">
                        <label for="Name" class="form-label">Current Date</label>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div class="row">
                    <div class="col-md-6">
                        <InputDate Type="InputDateType.Date" class="form-control autocomplete = off" @bind-Value="StartDate" />
                    </div>
                    <div class="col-md-6">
                        <InputDate Type="InputDateType.Date" class="form-control" @bind-Value="EndDate" />
                    </div>
                </div>
            </div>
            <br />
            <AuthorizeView Roles="Admin">
                <ChildContent Context="authContext">
                    <div class="mb-3">
                        <label class="mb-2">Employee Name</label>
                        <div class="col-md-10">
                            <InputSelect class="form-control" @bind-Value="Search">
                                <option selected disabled value="0">Employee Name List</option>
                                @foreach (var employee in employeeList)
                                {
                                    <option value="@employee.Id">@employee.FirstName @employee.LastName</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                </ChildContent>
            </AuthorizeView>
            <button>Search</button>
        </EditForm>
    </div>
    <div class="col-md-6">
        <a href='/Add_Salary' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Salary
        </a>
    </div>
</div>
<br />*@
@if (salaryDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>Salary Month</th>
                <th>Employee Name</th>
                <th>Leaves</th>
                <th>Remaining Loan</th>
                <th>Current Salary</th>
                <th>Leave Deduction</th>
                <th>Loan Deduction</th>
                <th>Total Dedection</th>
                <th>Perks</th>
                <th>Total Salary</th>

            </tr>
        </thead>
        <AuthorizeView Roles="Admin">
            <tbody>

                @foreach (var salary in salaryDtos)
                {
                    <tr>
                        <td>@salary.CreatedDate.Value.ToString("MMMM")</td>
                        <td>@salary.EmployeeName</td>
                        <td>@salary.TotalLeaves</td>
                        <td>@salary.RemainingLoan</td>
                        <td><input @bind="salary.CurrentSalary"  style="width: 100px"/></td>
                        <td><input @bind="salary.LeaveDeduction" style="width: 100px" /></td>
                        <td><input @bind="salary.LoanDeduction" style="width: 100px" /></td>
                        <td><input @bind="salary.TotalDedection" style="width: 100px" /></td>
                        <td><input @bind="salary.Perks" style="width: 100px" /></td>
                        <td><input @bind="salary.TotalSalary " style="width: 100px" /></td>
                    </tr>
                }
                <br/>
                
            </tbody>
           
        </AuthorizeView>
        <AuthorizeView Roles="User">
            <tbody>

                @foreach (var salary in salaryDtos)
                {
                    <tr>
                        <td>@salary.CreatedDate.Value.ToString("MMMM")</td>
                        <td>@salary.EmployeeName</td>
                        <td>@salary.TotalLeaves</td>
                        <td>@salary.RemainingLoan</td>
                        <td>@salary.CurrentSalary</td>
                        <td>@salary.LeaveDeduction</td>
                        <td>@salary.LoanDeduction</td>
                        <td>@salary.TotalDedection</td>
                        <td>@salary.Perks</td>
                        <td>@salary.TotalSalary</td>
                    </tr>
                }

            </tbody>
        </AuthorizeView>

    </table>
    <AuthorizeView Roles="Admin">
        <ChildContent Context="authContext">
            <div style="display: flex; justify-content:end; width:100%">
            <div style="display:flex; align-items:center">
                    <p style="margin-right:8px; margin-bottom:0px;">Total Amount : @TotalAmount.ToString("C",new System.Globalization.CultureInfo("ur-PK"))</p>
                <button type="button" class="btn btn-primary" @onclick="async (e) => {var message = await UpdateEmployeeSalary(salaryDtos);
                             ShowAlert(message);}">
                    Save
                </button>
            </div>
            </div>
        </ChildContent>

    </AuthorizeView>
    }


