@page "/Alert"
@inherits AlertBase

<h3>Alert</h3>
<div class="row">
<div class="input-group mb-3">

    <EditForm Model="Pager" OnValidSubmit="()=>GetAll()">
          
            <InputDate class="form-control-sm" @bind-Value="StartDate" />
            <InputDate class="form-control-sm" @bind-Value="EndDate" />
            <InputSelect class="form-control-sm" @bind-Value="search">
                <option selected disabled value="0">Employees</option>
                @foreach (var employee in EmployeeList)
                {
                    <option value="@employee.Id">@employee.FirstName @employee.LastName</option>
                }
                
            </InputSelect>
        <button>Search</button>
    </EditForm>
</div>
</div>
@if (Alerts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>AlertDate</th>
                <th>AlertType</th>
                <th>Employee</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alert in Alerts)
            {
                <tr>
                    
                    <td>@alert.AlertDate.ToShortDateString()</td>
                    <td>@alert.AlertType</td>
                    <td>@alert.Employee.FirstName</td>
                    @if(alert.AlertType == "TimeOut Missing")
                    {
                         <td>
                         <div class="button-container">
                            <a href='/edit/attendence?EmployeeId=@alert.EmployeeId&AlertDate=@alert.AlertDate.Date&AlertId=@alert.Id' style="height:40px;width:70px" class="btn btn-outline-dark" role="button">
                                Edit
                            </a>
                        </div>
                    </td>
                    }
                   
                </tr>
            }
        </tbody>
</table>
}
<Pagination ChangePage="GetAll"
            CurrentPage="Pager.CurrentPage"
            HasNext="Pager.HasNext"
            HasPrevious="Pager.HasPrevious"
            TotalPages="Pager.TotalPages" 
            />
