@page "/RegisterUser"
@using DomainEntity.Models;
@using ELM.Shared;
@using DTOs;
@using EmpLeave.Web.Services.Interface;
@using ELM.Helper;
@using EmpLeave.Web.Pages.AuthPage;
@using ELM_DAL.Services.Interface;
@inject IAuthService authService
@inject NavigationManager navigationManager
@inject IEmployeeService EmployeeService
<h3>Register User</h3>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="@RegisterModel" OnValidSubmit="@HandleRegistration">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Email address</label>
                <InputText Id="email" Class="form-control" @bind-Value="@RegisterModel.Email" />
                <ValidationMessage For="@(() => RegisterModel.Email)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText type="password" Id="password" Class="form-control" @bind-Value="@RegisterModel.Password" />
                <ValidationMessage For="@(() => RegisterModel.Password)" />
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <InputText type="password" Id="password" Class="form-control" @bind-Value="@RegisterModel.ConfirmPassword" />
                <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" />
            </div>
             <div class="form-group">
        <label>EMPLOYEE NAME</label>
                <InputSelect class="form-control" @bind-Value="RegisterModel.EmployeeId">
            <option selected disabled value="0">Employee Name List</option>
            @foreach (var employee in EmployeeList)
            {
                <option value="@employee.Id">@employee.FirstName</option>
            }
        </InputSelect>
    </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>
@code {

    private UserRegistrationModel RegisterModel = new UserRegistrationModel();
    private bool ShowErrors;
    public Pager Paging { get; set; } = new();
    public List<Employee> EmployeeList { get; set; } = new();
    private IEnumerable<string> Errors;

    protected override async Task OnInitializedAsync()
    {
        await GetEmployees();
    }
    private async Task HandleRegistration()
    {
        ShowErrors = false;

        var result = await authService.Register(RegisterModel);

        if (result.Successful)
        {
            navigationManager.NavigateTo("/login");
        }
        else
        {
            Errors = result.Errors;
            ShowErrors = true;
        }
    }
    public async Task GetEmployees()
    {
        List<Employee> listEmployee = await EmployeeService.GetAllEmployee();
        EmployeeList = listEmployee;
    }
}