@page "/RegisterUser"
@using EmpLeave.Web.Pages.AuthPage;
@inherits RegisterUserBase
<h3>RegisterUser</h3>

<EditForm Model="@RegisterModel" OnValidSubmit="RegisterEmployee">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Name" class="form-label">First Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="RegisterModel.FirstName" />
        </div>
        <ValidationMessage For="@(() => RegisterModel.FirstName)" />
    </div>
    <div class="mb-3">
        <label for="LastName" class="form-label">Last Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="RegisterModel.LastName" />
        </div>
        <ValidationMessage For="@(() => RegisterModel.LastName)" />
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <div class="col-md-4">
            <InputText class="form-control" type="email" @bind-Value="RegisterModel.Email" />
        </div>
        <ValidationMessage For="@(() => RegisterModel.Email)" />
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">PassWord</label>
        <div class="col-md-4">
            <InputText class="form-control"  @bind-Value="RegisterModel.Password" />
        </div>
        <ValidationMessage For="@(() => RegisterModel.Password)" />
    </div>

    <div class="mb-3">
        <label for="ConfirmPassword" class="form-label">Cofirm PassWord</label>
        <div class="col-md-4">
            <InputText class="form-control"  @bind-Value="RegisterModel.ConfirmPassword" />
        </div>
        <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" />
    </div>
    <div class="form-group">
        <label>Roles</label>
        <select multiple class="form-control" @onchange="SetRolesOnSelect">
            <option selected disabled value="0">Roles</option>
            @foreach (var role in Roles)
            {
                <option value="@role.Name">@role.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>