@page "/AddAttendence"
@inherits AddAttendenceBase
<h3>Add Attendence</h3>

<EditForm Model="AttendenceDto" OnValidSubmit="SaveAttendence">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Name" class="form-label">Date</label>
        <div class="col-md-4">
            <InputDate class="form-control" @bind-Value="AttendenceDto.Date" />
        </div>
        <ValidationMessage For="@(() => AttendenceDto.Date)" />
    </div>

    <div class="mb-3">
        <label for="Name" class="form-label">TimeIn</label>
        <div class="col-md-4">
              <InputDate Type="InputDateType.Time" class="form-control"  @bind-Value="AttendenceDto.TimeIn" />
        </div>
       
    </div>
   
    <div class="mb-3">
        <label for="Name" class="form-label">TimeOut</label>
        <div class="col-md-4">
           <InputDate Type="InputDateType.Time" class="form-control" @bind-Value="AttendenceDto.Timeout" />
        </div>
    </div>
   
    <div class="mb-3">
        <label for="Name" class="form-label">Longitude</label>
        <div class="col-md-4">
            <InputNumber class="form-control" @bind-Value="AttendenceDto.Longitude" />
        </div>
        <ValidationMessage For="@(() => AttendenceDto.Longitude)" />
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Latitude</label>
        <div class="col-md-4">
            <InputNumber class="form-control" @bind-Value="AttendenceDto.Latitude" />
        </div>
        <ValidationMessage For="@(() => AttendenceDto.Latitude)" />
    </div>
    <div class="form-group">
        <label>EMPLOYEE NAME</label>
        <InputSelect class="form-control" @bind-Value="AttendenceDto.EmployeeId">
            <option selected disabled value="0">Employee Name List</option>
            @foreach (var employee in EmployeeDtosList)
            {
                <option value="@employee.ID">@employee.FirstName</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>
