@page "/"
@page "/edit/attendence"
@page "/edit/attendence/{ID:int}"
@page "/edit/attendence/{ID:int}/{isCheckOut:bool}"
@inherits AddAttendenceBase
@if(CheckAttendence)
{
    <div>
        <h2 style="color:red">Your Previous Timeout is Missing 
        <a href='/Alert' class="btn btn-danger" role="button" >Notifications</a</h2>
    </div>
}
<br />
<h3>Add Attendence</h3>
<EditForm Model="AttendenceDto" OnValidSubmit="SaveAttendence">
    <DataAnnotationsValidator />
    <AuthorizeView Roles="User">
         <ChildContent Context="authContext">
        <div class="mb-3">
          <label for="Name" class="form-label">Date</label>
          <div class="col-md-4">
              <InputDate class="form-control" disabled @bind-Value="AttendenceDto.AttendenceDate" />
          </div>
          <ValidationMessage For="@(() => AttendenceDto.AttendenceDate)" />
        </div>
        </ChildContent>
    </AuthorizeView>
     <AuthorizeView Roles="Admin">
         <ChildContent Context="authContext">
        <div class="mb-3">
          <label for="Name" class="form-label">Date</label>
          <div class="col-md-4">
              <InputDate class="form-control"  @bind-Value="AttendenceDto.AttendenceDate" />
          </div>
          <ValidationMessage For="@(() => AttendenceDto.AttendenceDate)" />
        </div>
        </ChildContent>
    </AuthorizeView>
    @if(isAdmin)
    {
         <div class="mb-0">
        <div class="row">
            <div class="col-md-2">
                <label for="Name" class="form-label">TimeIn</label>
            </div>
            <div class="col-md-2">
                <label for="Name" class="form-label">Time out</label>
            </div>
        </div>
    </div>
    <div class="mb-2">
        <div class="row">
            <div class="col-md-2">
                @if  (AttendenceDto.TimeIn==null)
                {
                    AttendenceDto.TimeIn = DateTime.Now;
                }
                <InputDate Type="InputDateType.Time" class="form-control" @bind-Value="AttendenceDto.TimeIn" />                
                <ValidationMessage For="@(() => AttendenceDto.TimeIn)" />
            </div>
            <div class="col-md-2">
                @if  (AttendenceDto.Timeout==null&&isCheckOut.HasValue && !isCheckOut.Value)//(isCheckOut.HasValue && !isCheckOut.Value)
                {
                    AttendenceDto.Timeout = DateTime.Now;

                }
                    <InputDate Type="InputDateType.Time" class="form-control"  @bind-Value="AttendenceDto.Timeout" />
                <ValidationMessage For="@(() => AttendenceDto.Timeout)" />
            </div>
        </div>
    </div>
    }
    else
    {
         <div class="mb-0">
        <div class="row">
            <div class="col-md-2">
                <label for="Name" class="form-label">TimeIn</label>
            </div>
            <div class="col-md-2">
                <label for="Name" class="form-label">Time out</label>
            </div>
        </div>
    </div>
    <div class="mb-2">
        <div class="row">
            <div class="col-md-2">
                @if  (AttendenceDto.TimeIn==null)
                {
                    AttendenceDto.TimeIn = DateTime.Now;
                }
                <InputDate Type="InputDateType.Time" class="form-control" disabled @bind-Value="AttendenceDto.TimeIn" />                
                <ValidationMessage For="@(() => AttendenceDto.TimeIn)" />
            </div>
            <div class="col-md-2">
                @if  (AttendenceDto.Timeout==null&&isCheckOut.HasValue && !isCheckOut.Value)//(isCheckOut.HasValue && !isCheckOut.Value)
                {
                    AttendenceDto.Timeout = DateTime.Now;

                }
                    <InputDate Type="InputDateType.Time" class="form-control" disabled @bind-Value="AttendenceDto.Timeout" />
                <ValidationMessage For="@(() => AttendenceDto.Timeout)" />
            </div>
        </div>
    </div>
    }
   
    <AuthorizeView Roles="Admin">
        <ChildContent Context="authContext">
            <div class="mb-3">
                <label class="mb-2">Employee Name</label>
                <div class="col-md-4">
                    <InputSelect class="form-control"
                                   ValueChanged="@((int value) => HandleChange(value))"
                                   ValueExpression="@(() => EmployeeId)"
                                   Value="@EmployeeId">
                    <option value="0">--Select a Employee--</option>
                    @foreach (var employee in EmployeesList)
                        {@if (employee.Id == EmployeeId)
                            {
                                <option selected value="@employee.Id">@employee.FirstName @employee.LastName</option>
                            }
                        else
                        {
                            <option value="@employee.Id">@employee.FirstName @employee.LastName</option>
                        }
                    }
                </InputSelect>
                </div>
            </div>
        </ChildContent>
    </AuthorizeView>
    <div class="form-group">
        @if(!isAdmin)
        {
             @if(!isCheckOut.HasValue || !isCheckOut.Value)
             {
               <button type="submit" class="btn btn-primary" disabled="@(isCheckOut!=null)">CheckIn</button>
               <button type="submit" class="btn btn-primary" disabled="@(isCheckOut==null)">CheckOut</button>
             }
              else
              {
               <h3 class="alert-success">Your Attendence already marked..</h3>
              }
        }
        else
        {
             @if( !isCheckOut.HasValue || !isCheckOut.Value)
             {
                if (EmployeeId > 0)
                {
                    
                <button type="submit" class="btn btn-primary" disabled="@(isCheckOut!=null)">CheckIn</button>
               <button type="submit" class="btn btn-primary" disabled="@(isCheckOut==null)">CheckOut</button>
                }
             }
              else
              {
               <h3 class="alert-success">Attendence is already marked..</h3>
              }
        }
        <button type="button" class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>
