@page "/ListOfAttendence"
@using ELM.Web.Pages.Attendence_Page;
@inherits AttendenceListBase
<h3>List Of Attendence</h3>
<div class="row">
    <div class="input-group mb-3">
        <EditForm Model="Paging" OnValidSubmit="()=>GetAll()">
            <div class="mb-1">
                <div class="row">
                    <div class="col-md-6">
                        <label for="Name" class="form-label">Starting Date</label>
                    </div>
                    <div class="col-md-6">
                        <label for="Name" class="form-label">Current Date</label>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div class="row">
                    <div class="col-md-6">
                        <InputDate Type="InputDateType.Date" class="form-control autocomplete = off" @bind-Value="StartDate" />
                    </div>
                    <div class="col-md-6">
                        <InputDate Type="InputDateType.Date" class="form-control" @bind-Value="EndDate" />
                    </div>
                </div>
            </div>
            <AuthorizeView Roles="Admin">
                <ChildContent Context="authContext">
                    <div class="mb-3">

                        <label class="mb-2">Employee Name</label>
                        <div class="col-md-10">
                            <InputSelect class="form-control" @bind-Value="Search">
                                <option selected disabled value="0">Employee Name List</option>
                                @foreach (var employee in EmployeesList)
                                {
                                    <option value="@employee.Id">@employee.FirstName @employee.LastName</option>
                                }
                            </InputSelect>
                        </div>

                    </div>
                </ChildContent>
            </AuthorizeView>
            <br />
            <button>Search</button>
        </EditForm>
    </div>
    <div class="col-md-6">
        @if ( isAdmin)
        {
            
        <a href='/' class="btn btn-primary" role="button">
                <i class="fas fa-user-plus"></i>
                Add Attendence
            </a>
        }
        else{
            @if (isCheckout.HasValue)
            {
                <a href='/edit/attendence/@AttendenceDtoList.FirstOrDefault(x=>x.AttendenceDate.Date==DateTime.Now.Date)?.ID/@isCheckout' class="btn btn-primary" role="button">
                    <i class="fas fa-user-plus"></i>
                    Add Attendence
                </a>
            }
            else
            {
                <a href='/' class="btn btn-primary" role="button">
                    <i class="fas fa-user-plus"></i>
                    Add Attendence
                </a>
            }
        }
    </div>
</div>
<br />
@if (AttendenceDtoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>Attendence Date</th>
                <th>TimeIn</th>
                <th>TimeOut</th>
                <th>Host Name</th>
                <th>IpAddress</th>
                <th>Employee Name</th>
                    <th class="colspan-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendence in AttendenceDtoList)
            {
                <tr>
                    <td>@attendence.AttendenceDate.ToString("dd/MM/yyyy")</td>
                    <td>@attendence.TimeIn?.ToString("hh:mm tt")</td>
                    <td>@attendence.Timeout?.ToString("hh:mm tt")</td>
                    <td>@attendence.HostName</td>
                    <td>@attendence.IpAddress</td>
                    <td>@attendence.FirstName  @attendence.LastName</td>

                    <td style="width:15%;">
                        <AuthorizeView Roles="Admin">
                                <button style="width: 65px; height: 40px;" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteSalary"
                                @onclick="(() => DeleteConfirm(attendence.ID))">
                                    Delete
                                </button>
                        </AuthorizeView>
                            <a href='/edit/attendence/@attendence.ID' style="width: 58px; height: 38px;" class="btn btn-outline-dark" role="button">
                                Edit
                            </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="deleteSalary" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete Attendence</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Do you want to delete this Attendence?</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Time In</td>
                                <td>@SelectedAttendence.TimeIn</td>
                            </tr>
                            <tr>
                                <td>Time Out</td>
                                <td>@SelectedAttendence.Timeout</td>
                            </tr>
                            <tr>
                                <td>Host Name</td>
                                <td>@SelectedAttendence.HostName</td>
                            </tr>
                            <tr>
                                <td>IpAddress</td>
                                <td>@SelectedAttendence.IpAddress</td>
                            </tr>
                            <tr>
                                <td>Attendence Date</td>
                                <td>@SelectedAttendence.AttendenceDate</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" @onclick="(async () => await DeleteAttendence(SelectedAttendence.ID))" data-bs-dismiss="modal">YES</button>
                    <button class="btn btn-warning" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
}
<Pagination ChangePage="GetAll"
            CurrentPage="Paging.CurrentPage"
            HasNext="Paging.HasNext"
            HasPrevious="Paging.HasPrevious"
            TotalPages="Paging.TotalPages" />