@page "/ListOfAttendence" 
@using ELM.Web.Pages.Attendence_Page;
@inherits AttendenceListBase
<h3>List Of Attendence</h3>
<div class="row">

    <div class="col-md-6">
        <a href='/Add_Attendence' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Attendence
        </a>
    </div>
</div>
@if (AttendenceDtoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
         <thead class="table-success">
            <tr>
                <th>Attendence Date</th>
                <th>TimeIn</th>
                <th>TimeOut</th>
                <th>Host Name</th>
                <th>IpAddress</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Employee Name</th>
                <th class="colspan-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var attendence in AttendenceDtoList)
            {
              <tr>
                <td>@attendence.AttendenceDate.ToString("dd/MM/yyyy")</td>
                <td>@attendence.TimeIn?.ToString("hh:mm tt")</td>
                <td>@attendence.Timeout?.ToString("hh:mm tt")</td>
                <td>@attendence.HostName</td>
                <td>@attendence.IpAddress</td>
                <td>@attendence.Longitude</td>
                <td>@attendence.Latitude</td>
                <td>@attendence.FirstName  @attendence.LastName</td>
                 <td>
                        <!-- Button trigger modal -->
                        <button type="button" @onclick="()=>SetAttendenceId(attendence.ID)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Details
                        </button>

                    </td>
                    <td>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEmpModal"
                        @onclick="(() => DeleteConfirm(attendence.ID))">
                            Delete
                        </button>
                        <a href='/edit/@attendence.ID' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                    </td>
              </tr>
            }
          
        </tbody>
    </table>
}