@page "/ListOfAttendence" 
@using ELM.Web.Pages.Attendence_Page;
@inherits AttendenceListBase
<h3>List Of Attendence</h3>
<div class="row">

    <div class="col-md-6">
        <a href='/Add_Attendence' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Attendence
        </a>
    </div>
</div>
@if (AttendenceDtoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
         <thead class="table-success">
            <tr>
                <th>Attendence Date</th>
                <th>TimeIn</th>
                <th>TimeOut</th>
                <th>Host Name</th>
                <th>IpAddress</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Employee Name</th>
                <th class="colspan-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var attendence in AttendenceDtoList)
            {
              <tr>
                <td>@attendence.AttendenceDate.ToString("dd/MM/yyyy")</td>
                <td>@attendence.TimeIn?.ToString("hh:mm tt")</td>
                <td>@attendence.Timeout?.ToString("hh:mm tt")</td>
                <td>@attendence.HostName</td>
                <td>@attendence.IpAddress</td>
                <td>@attendence.Longitude</td>
                <td>@attendence.Latitude</td>
                <td>@attendence.FirstName  @attendence.LastName</td
                    <td>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEmpModal"
                        @onclick="(() => DeleteConfirm(attendence.ID))">
                            Delete
                        </button>
                        <a href='/edit/attendence/@attendence.ID' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                    </td>
              </tr>
            }
          
        </tbody>
    </table>
     <div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete Attendence</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Do you want to delete this Attendence?</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Time In</td>
                                <td>@SelectedAttendence.TimeIn</td>
                            </tr>
                            <tr>
                                <td>Time Out</td>
                                <td>@SelectedAttendence.Timeout</td>
                            </tr>
                            <tr>
                                <td>Host Name</td>
                                <td>@SelectedAttendence.HostName</td>
                            </tr>
                            <tr>
                                <td>IpAddress</td>
                                <td>@SelectedAttendence.IpAddress</td>
                            </tr>
                            <tr>
                                <td>Attendence Date</td>
                                <td>@SelectedAttendence.AttendenceDate</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" @onclick="(async () => await DeleteAttendence(SelectedAttendence.ID))" data-bs-dismiss="modal">YES</button>
                    <button class="btn btn-warning" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
}