@page "/AddLeave"
@page "/leave/edit/{id:int}"
@using DomainEntity.Enum;
@using EmpLeave.Web.Pages.Leaves_Pages;
@inherits AddLeaveBase
<h3>AddLeave</h3>

<EditForm Model="@LeaveDto" OnValidSubmit="SaveLeave">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Name" class="form-label">Start Time</label>
        <div class="col-md-4">
            <InputDate class="form-control" @bind-Value="LeaveDto.StartTime" />
        </div>
        <ValidationMessage For="@(() => LeaveDto.StartTime)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">End Time</label>
        <div class="col-md-4">
            <InputDate class="form-control" @bind-Value="LeaveDto.EndTime" />
        </div>
        <ValidationMessage For="@(() => LeaveDto.EndTime)" />
    </div>

    <InputSelect class="form-control-sm" @bind-Value="LeaveDto.Status">
        <option selected disabled value="-1">Leave Status</option>
        @foreach (var attr in Enum.GetValues(typeof(Status)))
        {
            <option value="@attr">@attr</option>
        }
    </InputSelect>
    <InputSelect class="form-control-sm" @bind-Value="LeaveDto.LeaveEnum">
        <option selected disabled value="-1">Leave Types</option>
        @foreach (var attr in Enum.GetValues(typeof(LeaveEnum)))
        {
            <option value="@attr">@attr</option>
        }
    </InputSelect>
    <div class="form-group">
        <label>EMPLOYEE NAME</label>
        <InputSelect class="form-control" @bind-Value="LeaveDto.EmployeeId">
            <option selected disabled value="0">Employee Name List</option>
            @foreach (var employee in EmployeeDtosList)
            {
                <option value="@employee.ID">@employee.FirstName</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>
